html,
body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 1%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.header-nav {
  width: 100%;
}

.footer {
  width: inherit;
  height: 100%;
  background-color: #f2f2f2;
}

.cent-vert {
  display: flex;
  align-content: center;
}

.menu {
  width: inherit;
  margin-top: 10px;
}

.links-profil {
  float: right;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}

.links-profil a {
  margin: 0 2%;
}

.img-google {
  max-width: 80%;
}

main {
  width: inherit;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

.img-profil {
  border-radius: 100%;
  transition: .3s;
}

.img-profil:hover {
  box-shadow: 0 0 0 4px #c3c3c375;
}

.appli {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transition: .3s;
}

.appli:hover {
  background-color: #c3c3c375;
  box-shadow: 0 0 0 4px #c3c3c375;
}

div a {
  text-decoration: none;
  color: #000;
}

div a:hover {
  text-decoration: underline;
}

.flex-center-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.area-search {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.search {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  width: 95%;
  height: 50px;
  margin: 20px 0;
  border-radius: 25px;
  border: 1px solid #c7c7c7af;
  transition: .3s;
}

.search:hover {
  box-shadow: 0 0 5px 2px #e6e6e6af;
}

.btn {
  min-width: 50px;
  height: 40px;
  margin: 10px 5px;
  padding: 0 10px ;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 5px;
  font-size: .9em;
  transition: .3s;
}

.btn:hover {
  border: 1px solid #cecece;
}

@media screen and (min-width: 768px) {
  .section {
    margin-top: 200px;
  }

  .img-google {
    max-width: 100%;
    max-height: 100%;
  }
}